.cell {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-color: #222;
}

.cell a {
    color: white;
}

.cell .views-field-title {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 12px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.45);
}


.cell:hover .views-field-title {
    display: block;
}

.brick {
    background-color: white;
    float: left;
    cursor: default;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.brick a {
    color: white;
}

.page-freewall-pinterest .brick {
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    border-radius: 3px;
    color: #333;
    border: none;
}


.freewall-pinterest .brick .img {
    width: 100%;
    max-width: 100%;
    display: block;
}

/*.page-freewall-pinterest .brick img {
    margin: 0px;
    padding: 0px;
    display: block;
}*/

.page-freewall-pinterest .brick h3, .page-freewall-pinterest .brick h5 {
    text-shadow: none;
}

#freewall-view--freewall--pinterest .brick {
    width: 221.2px;
}

#freewall-view--freewall--pinterest .views-field-title {
    padding: 15px;
    color: #333;
}

#freewall-view--freewall--pinterest a {
    color: #333;
}

.freewall--pinterest .brick img {
    margin: 0px;
    padding: 0px;
    display: block;
}

#freewall-view--freewall--flex-grid .views-field-title {
    font-size: 1.6em;
    line-height: 1em;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    font-family: Georgia, Helvetica, Tahoma;
    margin: 10px 0;
    font-weight: normal;
    margin: 20px;
}

.brick .views-field-view-node {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 12px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.45);
}

.brick:hover .views-field-view-node {
    display: block;
}

.red {
    background-color: #B82837 !important;
}

.orange {
    background-color: #F39C12 !important;
}

.yellow {
    background-color: #F3DE11 !important;
}

.green {
    background-color: #7FB828 !important;
}

.blue {
    background-color: #287FB8 !important;
}

.purple {
    background-color: #6228B8 !important;
}

.brick-1-1 {
    height: 160px;
    width: 160px;
}

.brick-1-2 {
    width: 160px;
    height: 320px;
}

.brick-1-3 {
    width: 160px;
    height: 480px;
}

.brick-2-1 {
    width: 320px;
    height: 160px;
}

.brick-2-2 {
    height: 320px;
    width: 320px;
}

.brick-2-3 {
    width: 320px;
    height: 480px;
}

.brick-3-1 {
    width: 480px;
    height: 160px;
}

.brick-3-2 {
    width: 480px;
    height: 320px;
}

.brick-3-3 {
    width: 480px;
    height: 480px;
}

.brick[style] {
visibility:visible!important;
}
